#contact-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%
}
.contact-add-element{
    width: 100%;
}
.card-main-div{
    width: 60%;
    border-top: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contact-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}